@charset "UTF-8"

@import bootstrap/functions

@import variables

@import bootstrap/bootstrap

\:focus
  outline: 0 !important

#header
  z-index: $zindex-fixed !important
  & + .mm-page > *:first-child,
  & + .multi-bg-example
    padding-top: 105px 

#header,
.mm-navbars_top
  border-top: 2px solid theme-color('primary')

.headroom--not-top
  box-shadow: 0 0 10px 0 rgba($black, 0.24)
  .navbar
    padding: $navbar-padding-y/2 $navbar-padding-x

.mm-menu 
  --mm-listitem-size: 50px
  --mm-navbar-size: 58px
  --mm-color-background: #{$white}
  --mm-color-background-highlight: #{theme-color('primary')}
  --mm-color-text: #{$dropdown-link-color}
  --mm-color-text-dimmed: #{$black}
  &.invisible
    visibility: visible !important

.mm-navbar
  .nav-logo
    padding: 0
    img
      height: 32px

.mm-listitem__text
  font:
    size: 1.125rem

.mm-listitem
  &:after
    left: 0

#mm-1
  padding-top: 0
  .mm-navbar
    display: none

#footer
  padding: 1.5rem 0
  position: relative
  .border-top
    margin-bottom: 1.5rem


.multi-bg-example
  width: 100%
  height: 100vh
  max-height: 730px
  background: url('../img/header-mask.png') no-repeat right -35px center / auto fixed, url('../img/header-bg.jpg') no-repeat center / cover fixed
  

.bg
  background: theme-color('primary') url('../img/header-bg.jpg') no-repeat center / cover fixed

.text-zona
  font:
    size: 6.875rem
    family: 'Zona Pro Hairline'
  color: $white
  opacity: 0.73
  line-height: 0.8272
  text-transform: uppercase
  margin-bottom: 1.875rem
  span
    display: block
    font-family: 'Zona Pro SemiBold'

.blue
  color: $blue
  font-weight: 600
.bg_imgg
  margin-top: 138px
  background: transparent repeating-linear-gradient(to top, transparent 0%, transparent 20px, #0078a1 20px, #0b9ccc calc(100% - 20px)) repeat-x
p 
  font-size: 22px
  font-weight: 300
.under_txt
  margin-top: 40px
  text-align: left
  p
    font-size: 16px
    margin-top: 16px
    line-height: 21px
    color: $white
.h3,
small,
.small
 color: $white    
.adrees
  margin-top: 210px
.head_txt
  p
    color: $white
    font-family: "Muli"
    font-size: 32px
    font-weight: 300  
    margin-bottom: -15px
  small 
    margin-left: 2px
small
    font-size: 13px
    text-transform: uppercase
    letter-spacing: 2.6px
+media-breakpoint-up(lg)
  #first_block
    margin-top: -30px
.h1
  color: #4a4a4a
form
  label
    color: #666666
    font-family: "Nunito Sans"
    font-size: 14px
    font-weight: 700
  input
    color: #4a4a4a
    font-family: "Nunito Sans"
    font-size: 17px
    line-height: 21px
address
  color: #757575;
  font-family: "Nunito Sans";
  p
    font-size: 18px
    line-height: 26px
  .mail
    color: $blue
    text-decoration: none
.blue
  color: $blue
  a
    font-size: 16px
    line-height: 21px
    text-decoration: none
.map
  height: 400px
  position: relative
  &:after
    content: ""
    position: absolute
    display: block
    left: 0
    right: 0
    bottom: 0
    height: 30px
    background: $white
    z-index: $zindex-dropdown
.text-right,
.text-left
  p
    font-size: 18px
  .adrees
    font-size: 26px
    font-family: Muli
    font-weight: 400
.box  
  max-width: 1425px
  margin: 0 auto
.txt_pict
  color: $white
  font-size: 18px
  line-height: 26px
