@charset "UTF-8"

@import bootstrap/functions

@import variables

@import bootstrap/bootstrap

\:focus
  outline: 0 !important

body
  padding-top: 120px 

#header
  z-index: $zindex-fixed !important

#header,
.mm-navbars_top
  border-top: 2px solid theme-color('primary')

.headroom--not-top
  box-shadow: 0 0 10px 0 rgba($black, 0.24)
  .navbar
    padding: $navbar-padding-y/2 $navbar-padding-x

.mm-menu 
  --mm-listitem-size: 50px
  --mm-navbar-size: 58px
  --mm-color-background: #{$white}
  --mm-color-background-highlight: #{theme-color('primary')}
  --mm-color-text: #{$dropdown-link-color}
  --mm-color-text-dimmed: #{$black}
  &.invisible
    visibility: visible !important

.mm-navbar
  .nav-logo
    padding: 0
    img
      height: 32px

.mm-listitem__text
  font:
    size: 1.125rem

.mm-listitem
  &:after
    left: 0

#mm-1
  padding-top: 0
  .mm-navbar
    display: none

#footer
  padding: 1.5rem 0
  position: relative
  .border-top
    margin-bottom: 1.5rem
